<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>apnrs-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>apnrs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F830DAA1671493C00E3A038</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FC23689167142B6006F50C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FC236A11671434C006F50C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FC236A8167143B5006F50C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
